/* src/components/ItemList.css */

.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.itemCard {
  width: 200px;
  border: 1px solid #000000;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 0.2s;
}

.itemCard:hover {
  transform: scale(1.03);
}

.itemCard__img {
  width: 100%;
  height: auto;
}

.itemCard__title {
  font-size: 1rem;
  margin: 0.5rem;
}

.itemCard__price {
  font-size: 1.1rem;
  margin: 0.5rem;
  color: #333;
}

.itemLink {
  text-decoration: none;
  color: inherit;
}
