/* src/components/ItemListContainer.css */

.itemListContainer {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.itemListContainer p {
  font-size: 1.2rem;
}
